.love {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
    position: realtive;
    top: 10rem;
    left: 10rem;
}

.love::before,
.love::after {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    position: absolute;
}

.love::before{
    top: 0;
    left: -25px;
}

.love::after{
    top: -25px;
}

img.redimension {
    max-width: 350px;
    max-height: 900px;
}

